
.add-activity-page {
    padding-top: 80px; 
    font-family: Arial, sans-serif;
    min-height: 100vh; 
    background: linear-gradient(to bottom right, rgba(79, 8, 100, 0.6), rgba(213, 131, 238, 0.6)), url('./bg3.jpeg'); /*ibis ke overlay jaisa*/
    background-size: cover; 
    background-position: center; 
    color: #fff; 
}

.add-activity-content {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 30px; 
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.add-activity-content h1 {
    font-size: 28px; 
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    position: relative;
    margin-bottom: 30px; 
}

.form-group input, .form-group textarea, .form-group select {
    width: 100%;
    padding: 20px;
    font-size: 18px; 
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    background-color: #fff;
    transition: border-color 0.3s ease, padding-top 0.2s ease;
}

.form-group input:focus, .form-group textarea:focus, .form-group select:focus {
    border-color: #a200ff;
    outline: none;
}

.form-group label {
    position: absolute;
    top: 16px;
    left: 15px;
    font-size: 18px; 
    color: #aaa;
    transition: 0.2s ease all;
    pointer-events: none; 
    background-color: #fff; 
    padding: 0 5px; 
}

/* i'm tired*/
.form-group input:focus + label, .form-group textarea:focus + label, .form-group select:focus + label, .form-group input:not(:placeholder-shown) + label, .form-group textarea:not(:placeholder-shown) + label, .form-group select:not(:placeholder-shown) + label {
    top: -12px;
    left: 15px;
    font-size: 14px; 
    color: #bb00ff;
}

.add-activity-content textarea {
    height: 120px; 
    resize: vertical;
}

.add-activity-content button {
    padding: 15px 30px; 
    font-size: 18px; 
    background-color: #c300ff;
    color: #ffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-activity-content button:hover {
    background-color: #9200b3;
}
